
/* Projects.css */

.projects {
  padding: 3rem 2rem;
 
}



.projects-grid {
  display: flex;
  flex-direction: row;
  
  gap: 1rem;
}

.project-card {
  background: linear-gradient(145deg, #1c2a3e, #141b29);
  padding: 0.6rem;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  overflow: hidden;
  position: relative;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.6);
}

.project-image {
 min-width: 85%;
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 0rem;
  transition: transform 0.4s;
}

.project-card:hover .project-image {
  transform: scale(1.05);
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #4db8ff;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #e9e8e8;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.tech {
  background: #4db8ff;
  color: #ffffff;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background 0.3s ease;
}

.tech:hover {
  background: #82cfff;
}

.project-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.link {
  color: #4db8ff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #82cfff;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
  .projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .project-title {
    font-size: 1.3rem;
  }

  .project-description {
    font-size: 0.8rem;
  }

  .project-image {
    height: 180px;
  }
}
.sec-title {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 3rem;
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}