body{
  background-color:  #192231;
  
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;

  /* max-width: 1100px;
  
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
} 
a{
  text-decoration: none;
  text-decoration-line: none;
}